body {
  background: #242943;
  color: white;
}

.App {
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: rgba(12, 14, 28, 0.9);
  box-shadow: 1px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

h1{
  margin: 15px;
}

nav{
  margin: 5px;
  color: white;
  
}

a{
  margin: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.button{
    padding: 10px 25px;
    border-radius: 12px;
    border: solid 1px white;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: solid 1px white;
}

.bottom-nav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.btm-link{
  
  margin: 10px 50px;
  text-align: justify;
}